@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Kablammo&family=Marvel:wght@200;300;500;700&family=Orbitron:wght@900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background:url("https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdlYXRoZXIlMjBmb3JlY2FzdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Marvel", sans-serif;
}

.weathercontainer{
  padding: 20px 70px;
  color: azure;
  display:flex;
  justify-content: center;
}

.todaysinfo{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dateinfo{
  font-weight: 100;
}

.dateinfo .time{
font-size: 70px;
}
.dateinfo #am-pm{
  font-size: 40px;
  margin-left: 20px;
}
.dateinfo .date{
  font-size: 30px;
}

.locationcontainer{
  text-align: end;
  padding-right: 20px;

}

.locationcontainer .timezone{
  font-size: 30px;
  font-weight: 200;
}

.locationcontainer .coordinates{
  font-size: 12px;
  font-weight: 700;
}


.weatheritem{
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px 0;
  border: 2px solid whitesmoke;
  justify-content: space-between;
  align-items: center;
  color: maroon;
  font-weight: bold;
}

.future-forecast{
  padding: 25px;
  display: flex;
  color: blue;
  font-size: 25px;
  width: 60%;
  align-items: center;
}

.future-forecast .today {
  align-items: center;
  justify-content: center;
}

.future-forecast .today .day{
  padding: 5px 15px;
  background: black;
  border-radius: 50px;
  text-align: center;
  align-items: center;
}

.future-forecast .today .temperature{
  font-size: 20px;
  padding-top: 15px;
}
.future-forecast .weather-forecast{
  display: flex;

}

.weather-forecast .weather-forecast-item{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border-radius: 10px;
  padding: 5px;
}

.weather-forecast .weather-forecast-item .day{
  padding: 5px 15px;
  justify-content: space-between;
  background:black;
  border-radius: 50px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temperature{
  font-weight: 100;
}

@media only screen and (max-width: 730px){
  .future-forecast{
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }
}

.current{
  text-decoration: underline;
  font-size: 35px;
  color: blue;
  }

  .weathercontainer{
  top: 50%;
  left: 25%;
  }

